.formulario{
    width: 70%;
    margin: 100px 0 0 0;
    border-radius: 10px;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: 35px 0 25px 0;
}

.cabecalho h1 {
    font-size: 32px;
    font-weight: 600;
}

.campo-busca form{
    display: flex;
    width: 90%;
    gap: 35px;
}

.input-texto {
    border: solid 1px;
    border-radius: 15px;
    width: 300px;
    height: 30px;
}

.input-texto input {
    background-color: transparent;
    height: 25px;
    width: 200px;
    padding-left: 15px;
    font-style: italic;
    font-size: 15px;
    border: transparent;
    outline: transparent;
}

.input-texto button {
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    cursor: pointer;
}

.input-radio {
    display: inline-flex;
    flex-direction: column;
    width: 200px;
}

.input-radio input {
    
}

table {
	margin: 20px auto 40px;
    width: 90%;
    text-align: center;
}

thead {
	color: rgb(196, 3, 3);
	font-weight: bold;
    border-bottom: 1px solid rgb(196, 3, 3);
}

td, th {
    padding: 10px 15px;
}

table tr:nth-child(even){
    background-color: rgb(221, 219, 219);
}

@media screen and (max-width: 720px) {
    .formulario{
        width: 90vw;
        margin: 20px 0 0 0;
    }

    .cabecalho {
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .cabecalho h1 {
        margin-bottom: 20px;
    }
}